apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  labels:
    app: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: express
        image: winsonyuan/tdw:backend-0.0.1
        imagePullPolicy: "Always"
        ports:
        - containerPort: 5000
      imagePullSecrets:
        - name: regcred